.comment_list{
    font-size: 20px;
    position: relative;
    margin-top: 30px;
}

.img{
    margin: 0 auto;
    display: block;
}

.btn_sand{
    position: absolute;
    right: 15px;
    top: 50px;
}

.form{
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.form textarea{
    min-height: 150px;
    padding-right: 200px;
}

.comment_wrapper{
    margin-left: 60px;
}

.comment h4{
    margin-left: 55px;
}

.counter{
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 15px;
}

