.wrapper{
    margin: 5px auto;
    width: 90%;
    text-align: center;
}

.btn{
    position: absolute;
    top: 13px;
    right: 20%;
}

.wrapper-card{
    display: flex;
    flex-wrap: wrap;
}

.btn_admin{
    position: absolute;
    top: 13px;
    left: 10%;
}
