.wrapper{
    margin: 5px auto 30px;
    width: 90%;
}

.btn{
    position: absolute;
    top: 13px;
    left: 10%;
}

.button_save{
    margin-left: 10px;
}

input{
    height: 35px;
    padding: 5px;
}

.category_wrapper{
    width: 90%;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.category_wrapper .category{
    width: 18%;
    margin: 10px;
}

.category ul{
    padding-left: 10px;
}

.category_wrapper h3{
    margin: 0 auto;
}

