.product_wrapper .comment{
    margin-bottom: 20px;
    padding: 30px;
    position: relative;
    border-radius: 5px;
    border: 1px solid lightsteelblue;
}

.btn_answer{
    position: absolute;
    top: 15px;
    right: 15px;
}

.comment_text{
    margin-top: 30px;
}

.avatar{
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

.author{
    display: flex;
    font-weight: bold;
}

.author_date{
    margin-left: 15px;
}

.author .author_date p{
    margin-bottom: 0;
}

.comment{
    font-size: 18px;
    margin-bottom: 20px;
    padding: 30px;
    position: relative;
    border-radius: 5px;
    border: 1px solid lightsteelblue;
}

.btn_sand{
    position: absolute;
    right: 15px;
    top: 50px;
}

.form{
    position: relative;
}

.form textarea{
    min-height: 150px;
}
