.wrapper{
    margin: 5px auto;
    width: 90%;
}

.btn{
    position: absolute;
    top: 13px;
    left: 10%;
}

.button_save{
    margin-top: 20px;
}

.category_list{
    background-color: white;
    width: 90%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.form{
   width: 49%;
}

.form label{
    margin: 20px 0;
}

.table{
    width: 45%;
    border: 1px solid lightgrey;
    text-align: left;
}

.table tbody tr:nth-child(odd){
    background-color: #f9f9f9;
}

.table thead{
    border-bottom: 1px solid lightgrey;
}

.table td, th{
    vertical-align: top;
    width: 50%;
    padding: 10px 10px 0;
    border-right: 1px solid lightgrey;
}

.table span{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: cornflowerblue;
    cursor: pointer;
    opacity: 0;
}

.table .table_row:hover span{
    opacity: 1;
}

.table .btn_delete{
    color: firebrick;
}
