.wrapper{
    margin: 5px auto;
    width: 80%;
    text-align: center;
}

.buttons{
  position: absolute;
  top: 20px;
  right: 10%;
}

.btn{
    margin-left: 20px;
}

.wrapper-card{
    display: flex;
    flex-wrap: wrap;
}
